.settings-header{
    margin-bottom:30px;
}

.settings-header h1{
    font-size:42px;
    font-weight:700;
    margin-bottom:8px;
}

.settings-header p{
    color:#666;
    font-size:16px;
}

.dashboard-main{
    padding:35px;
    overflow-y:auto;
}