# Dependencies
node_modules
client/node_modules
server/node_modules

# Environment variables
.env
client/.env
server/.env

# Build files
dist
client/dist
server/dist

# Logs
*.log

# OS files
.DS_Store

# IDE
.vscode
.idea