.settings-card{
    background:#fff;
    border-radius:18px;
    padding:25px;
    margin-bottom:25px;
    box-shadow:0 8px 25px rgba(0,0,0,.08);
}

.settings-card h2{
    margin-bottom:20px;
}

.settings-card input{
    width:100%;
    padding:14px;
    margin-bottom:15px;
    border:1px solid #ddd;
    border-radius:10px;
    font-size:15px;
}

.settings-card button{
    background:#635bff;
    color:#fff;
    border:none;
    padding:12px 20px;
    border-radius:10px;
    cursor:pointer;
    font-weight:600;
}

.settings-card button:hover{
    background:#4d46db;
}

.switch-item{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:18px;
}

.danger-zone{
    border:2px solid #ff4d4f;
}

.delete-btn{
    background:#ff4d4f !important;
}

.delete-btn:hover{
    background:#d9363e !important;
}